.edit__profile {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  border: none;
  cursor: pointer;
  margin-bottom: 8px;
  margin-top: 24px;
  padding: 0;
}

.logout__profile {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  border: none;
  cursor: pointer;
  padding: 0;
}

.modal__submit-profile {
  white-space: nowrap;
  margin-top: 8px;
}

/* @media screen and (max-width: 627px) {
  .logout__profile {
    display: flex;
  }
} */
