.card {
  width: 325px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  color: #000000;
  opacity: 0.6;
  border-radius: 4px;
  padding: 2px 12px;
}

.card__image {
  width: 100%;
  border-radius: 20px;
  color: #0000004d;
  border: 1px solid #0000004d;
}

@media screen and (max-width: 600px) {
  
}

@media screen and (max-width: 500px) {
  .card {
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 12px;
  }

  .card__name {
    left: 50%;
    transform: translateX(-50%);
  }

  .card__image {
    width: 162px;
    height: 162px;
  }
}
