.header {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.mobile-menu {
  display: none;
}

.header__date-and-location {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  /* gap: 12px; */
  gap: 20px;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.header__link {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__register-btn {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.header__login-btn {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .header {
    padding: 0;
  }

  .header__container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .header__date-and-location {
    max-width: 480px;
    height: 24px;
    margin: 32px 0 16px;
  }

  .hamburger {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 10px;
  }

  .hamburger span {
    background-color: #000000;
    width: 28px;
    height: 2px;
    border-radius: 1px;
  }

  .header__user-container {
    display: none;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 20px;
    top: 18px;
    left: 0;
    background: #fff;
    width: 100%;
    height: 208px;
    border-radius: 10px;
    z-index: 1;
    box-sizing: border-box;
  }

  .mobile-menu__logo {
    position: absolute;
    top: 74px;
    right: 40px;
    width: 54px;
    height: auto;
  }

  .mobile-menu__list {
    list-style-type: none;
    font-family: "Cabinet Grotesk", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
  }

  .mobile-menu__add-clothes-btn {
    cursor: pointer;
    display: inline-block;
  }

  .mobile-menu__close {
    background-image: url("../../assets/mobile-close.png");
    cursor: pointer;
    background-color: transparent;
    background-size: contain;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 12px;
    right: 16px;
    padding: 0;
    border: none;
    outline: none;
    color: #ffffff;
  }
}
