.weather-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
}

.weather-modal__opened {
  visibility: visible;
  opacity: 1;
}

.weather-modal__close {
  background-image: url("../../assets/close-icon.png");
  background-color: transparent;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  outline: none;
  color: #FFFFFF;
  cursor: pointer;
}

.weather-modal__content {
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
}

.weather-modal__image {
  max-width: 100%;
  height: auto;
  border-radius: 16px 16px 0 0;
}

.weather-modal__caption {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 20px 0 12px 32px;
}

.weather-modal__weather {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 32px 32px;
}
