.clothes-section__header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.clothes-section {
  width: 100%;
}

.clothes-section__title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.clothes-section__add {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #00000099;
  border: none;
  padding: 0;
  cursor: pointer;
}

.clothes-section__items {
  padding: 0;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  gap: 20px;
}

@media screen and (max-width: 500px) {
  .clothes-section__header {
    justify-content: space-between;
  }

  .clothes-section__items {
    gap: 16px;
    grid-template-columns: repeat(auto-fit, 162px);
    margin: 16px 0 40px;
  }
}
