.modal__content_type_delete {
  padding: 60px 20px;
  max-width: 670px;
}

.modal__title-delete {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  text-align: center;
  white-space: pre-line;
}

.modal__delete-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__submit-delete {
  background-color: white;
  color: #ff4d00;
  padding: 0;
  margin: 40px 0 24px 0;
  font-size: 20px;
  line-height: 24px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
}

.btn-cancel {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
